<!DOCTYPE html>
<html>
<head>
  <h3 class="text-muted"><%= link_to 'AIRLIFT', root_path, id: 'logo' %></h3>
</head>
<body>
  <div class="container">
    <h4>Welcome to Airlift!</h4>
    <p>Are you ready to leave all the hassle of receiving relief goods
      in a timely fashion? Well, sit back! Relax! Let's watch those problems fall
      right out of the sky!</p>
      <h3>Great! <%= link_to "Let's get started!", root_url %></h3>
  </div>
</body>
</html>
