
<div class="form-group"><%= link_to "Register As Customer", new_user_path, class: "form-control btn btn-success" %>
</div>
<div class="form-group"><%= link_to "Register As Supplier", new_supplier_path, class: "form-control btn btn-success" %>
</div>
