<div class="form-group"><%= link_to "Sign Up As Customer", new_user_path, class: "form-control btn btn-success" %>
</div>
<div class="form-group"><%= link_to "Sign Up As Supplier", new_supplier_path, class: "form-control btn btn-success" %>
</div>
