<div class='nested-fields'>
  <div class='field'>
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>

  <div class='field'>
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>
</div>
