<div class="row">
  <div class="col-lg-12" id="banner">
    <div id="tint-me">
      <%= image_tag "banner.gif", class: "img-responsive" %>
      <h1 id="fade-me" class="hidden">Welcome to Airlift</h1>
    </div>
  </div>


</div>
