@import "compass";
@import url(http://fonts.googleapis.com/css?family=Arimo);
/*
Globals
*/
body {
  margin: 0;
  background: #556270;
  color: #353d46;
}


a {
  color: #FF6b6b;
  text-decoration: none;
  &:hover {
    color: #556270;
  }
}
/*
Menu
*/
nav#slide-menu {
  position: fixed;
  top: 0;
  left: -20%;
  bottom: 0;
  display: block;
  float: left;
  width: 100%;
  height: 100%;


  @include transition(all 300ms);

  .wrap {
    overflow-y: scroll;
    background-color: #2C323F;
    float: left;
    height: 100%;
    width:70%;
  }
  ul {
    display: block;
    margin: 40px;
    padding: 0;
    list-style: none;
    opacity: 0.5;
    margin-top: 0%;
    margin-left: -1.4%;
    margin-right: 0;

    @include transition(all 300ms);

    li {
      color: #dfe5eb;
      cursor: pointer;
      font-family: "Arimo";
      border-top: 2px solid #3D4455;
      border-bottom: 2px solid #21283A;
      border-width: 100%;
      z-index: 600;
      padding: 3.5% 0;
      a {
        padding: 3.7% 21.5% 3.8% 5%;
        z-index:700;
        margin: 0 auto;
        color: #C4CBDA;
      }

      &:hover {
        background-color: #28303C;
        color: #59e9df;
        a {
          color:#59e9df;
        }
        .badge {
          color:#59e9df;
        }
      }
    }


    li:before {
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      color: #59e9df;
      margin-right: 12px;
      text-align: center;
      text-transform: none;
      line-height: 1em;

      li:last-child {
        text-align: center;
      }
    }

    li.sep {
      margin-top: 7px;
      padding-top: 14px;
    }

    li.timeline:before { content: '\e805'; }
    li.events:before { content: '\e802'; }
    li.calendar:before { content: '\e800'; }
    li.settings:before { content: '\e803'; }
    li.logout:before { content: '\e804'; }
  }
}

body.menu-active nav#slide-menu { left: 0px; }
body.menu-active nav#slide-menu ul { left: 0px; opacity: 1; }

/*
Content
*/

div#content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: inherit;
  background-color: #C7D6DC;
  overflow-y: scroll;
  border-radius: 0;
  color: white;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  @include box-shadow(3px 0 5px darken(#556270, 3%));
  @include transition(all 300ms);

  div.menu-trigger {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 36px;
    height: 36px;
    background: wheat;
    border-radius: 5px;

    @include transition(all 300ms);

    &:before {
      content: '\e801';
      display: inline-block;
      width: 36px;
      height: 36px;
      color: black;
      text-align: center;
      text-transform: none;
      line-height: 36px;
    }

    &:hover {
      background: #556270;
      &:before {
        color: #fcfeff;
      }
    }
  }
}

body.menu-active div#content { left: 40%; border-radius: 6px 0 0 6px; }
body.menu-active div#content .menu-trigger { left: 3%; }

div.menu-trigger:hover .glyphicon-align-justify { color: white }
.burger-icon {
  position: absolute;
  left: 11px;
  margin-top: 7px;
  color: #556270;
}

@media only screen and (max-device-width: 768px) {
  nav#slide-menu ul li {
    padding: 9.5% 0;
  }
}
