<div class="supplier-item col-xs-12">
  <h2><%= supplier.name %> <span><%= link_to 'Visit Supplier', supplier_items_path(slug: supplier.slug), class: 'btn btn-warning' %></span></h2>
  <h3 class='bold'><%= supplier.description %></h3>

</div>
