<h1>this is a heading for supplier dashboards</h1>

  <%= link_to "ORDERS", orders_path %>
  <%= link_to "CATEGORIES", categories_path %>
  <%= link_to "ITEMS", new_supplier_items_path(slug: supplier.slug) %>
